.sideBar{
    -fx-background-color:  #333535;
    -fx-background-radius: 0px 50px 0px 0px;
}


.but{
    -fx-text-fill: Black;
    -fx-font-weight: bold;
    -fx-background-color: RED;
    -fx-effect: innershadow( gaussian, rgba(0,0,0,0) , 0.0, 0.0 , 0 , 3 );
}

.but:hover {
    -fx-background-color: White;
}
.but:focused{
    -fx-background-color: White;
    -fx-scale-y: 1.1;
    -fx-background-radius: 50 0 0 50;

    -fx-color-label-visible: true;
}